/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.app-content {
  padding: 0 16px;
}

.app-header {
  display: flex;
  align-items: center;
  &__title {
    flex-grow: 1;
  }
  button {
    margin-right: 0.5em;
    &:last-child {
      margin-right: 0;
    }
  }
}
